$primary-color: #10ac84;
$primary-dark-color: #cc4132;
$secondary-color: #2c3e50;
$secondary-light-color: #5f6777;
$light-gray: #f9fafb;
$white-color: #fff;
$black-color: #000;
$blue-color: #007bff;
$red-color: #c0392b;
$green-color: #27ae60;
$dark-primary: #34495e;
$silver-color: #ecf0f1;
$app-bg-color: #fbfbfb;
$red-color: #e74c3c;


$sxxfont: 11px;
$sxfont: 12px;
$snfont: 13px;
$sfont: 14px;
$nfont: 16px;